<div
  class="w-full h-16 top-0 px-8 flex justify-between items-center z-50 gap-x-20">
  <a href="/" class="p-4"
    ><span class="text-4xl font-thin text-red-500 font-mono">B</span> __
    <span class="text-2xl text-indigo-500 font-bold">D</span> __
    <span class="text-4xl font-thin text-red-500 font-mono">W</span> __
    <span class="text-2xl text-indigo-500 font-bold">Service</span>
  </a>
  <div class="flex gap-x-8">
    <a class="link-hover text-lg px-4 py-1 rounded-full" href="/"><span class="span relative z-10 text-black">Home</span></a>
    <a class="link-hover text-lg px-4 py-1 rounded-full" href="/feed"><span class="span relative z-10 text-black">Feed</span></a>
    <a class="link-hover text-lg px-4 py-1 rounded-full" href="/blood"><span class="span relative z-10 text-black">Blood</span></a>
    <a class="link-hover text-lg px-4 py-1 rounded-full" href="/feedback"><span class="span relative z-10 text-black">feedback</span></a>
  </div>
</div>
