<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
	<link rel="shortcut icon" href="/images/1539992783.webp" type="image/x-icon">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/stylesheets/error.css">
</head>
<body>
		<div class="my-28 flex justify-center lg:my-0 md:my-12">
			<img class="w-full lg:w-3/6" src="https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif" alt="">
		</div>
		
		<div class="py-4 leading-8 flex flex-col items-center">
		<h3 class="text-4xl mb-4 font-bold">
		Look like you're lost
		</h3>
		<p class="text-xl capitalize font-semibold mb-4">the page you are looking for not avaible!</p>
		
		<a href="/" class="link border-2 px-4 py-2 border-green-500 rounded-2xl"><span class="font-semibold text-xl">Go To Home</span></a>
	</div>

</body>
</html>