<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Donation</title>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="shortcut icon"
      href="/images/1539992783.webp"
      type="image/x-icon" />
      <link rel="stylesheet" href="/stylesheets/feedback.css">
  </head>
  <body>
    <div class="fixed top-0 w-full bg-white z-30">
        <% include ./partials/navbar.ejs %>
    </div>
    <div class="min-h-screen">
        <h1 class="text-[19vw] text-zinc-200 font-mono tracking-widest fixed top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]">Feedback</h1>
        <div class="px-5 py-10 mt-28 h-fit flex flex-col-reverse items-center relative z-10 gap-y-7">
            <div class="w-11/12 px-5 pt-4 pb-7 bg-zinc-900 rounded-xl h-fit text-white">
                <div class="flex gap-x-5 px-4 py-2 w-fit mt-1">
                    <img class="w-12 h-12 rounded-full object-cover" src="https://images.unsplash.com/photo-1595347097560-69238724e7bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>
                        <h1>Name - Suvam Chakraborti</h1>
                        <p>Date:- 24-07-2024</p>
                    </span>
                </div>
                <p class="mt-5 text-justify px-5 text-lg">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequatur doloremque iure suscipit repudiandae magnam repellat perferendis officiis quisquam possimus iusto eos ipsum consequuntur ad, eius voluptate illum nesciunt accusantium?
                </p>
            </div>
            <div class="w-11/12 px-5 pt-4 pb-7 bg-zinc-900 rounded-xl h-fit text-white">
                <div class="flex gap-x-5 px-4 py-2 w-fit mt-1">
                    <img class="w-12 h-12 rounded-full object-cover" src="https://images.unsplash.com/photo-1595347097560-69238724e7bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>
                        <h1>Name - Suvam Chakraborti</h1>
                        <p>Date:- 24-07-2024</p>
                    </span>
                </div>
                <p class="mt-5 text-justify px-5 text-lg">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequatur doloremque iure suscipit repudiandae magnam repellat perferendis officiis quisquam possimus iusto eos ipsum consequuntur ad, eius voluptate illum nesciunt accusantium?
                </p>
            </div>
            <div class="w-11/12 px-5 pt-4 pb-7 bg-zinc-900 rounded-xl h-fit text-white">
                <div class="flex gap-x-5 px-4 py-2 w-fit mt-1">
                    <img class="w-12 h-12 rounded-full object-cover" src="https://images.unsplash.com/photo-1595347097560-69238724e7bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>
                        <h1>Name - Suvam Chakraborti</h1>
                        <p>Date:- 24-07-2024</p>
                    </span>
                </div>
                <p class="mt-5 text-justify px-5 text-lg">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequatur doloremque iure suscipit repudiandae magnam repellat perferendis officiis quisquam possimus iusto eos ipsum consequuntur ad, eius voluptate illum nesciunt accusantium?
                </p>
            </div>
            <div class="w-11/12 px-5 pt-4 pb-7 bg-zinc-900 rounded-xl h-fit text-white">
                <div class="flex gap-x-5 px-4 py-2 w-fit mt-1">
                    <img class="w-12 h-12 rounded-full object-cover" src="https://images.unsplash.com/photo-1595347097560-69238724e7bd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
                    <span>
                        <h1>Name - Suvam Chakraborti</h1>
                        <p>Date:- 24-07-2024</p>
                    </span>
                </div>
                <p class="mt-5 text-justify px-5 text-lg">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas consequatur doloremque iure suscipit repudiandae magnam repellat perferendis officiis quisquam possimus iusto eos ipsum consequuntur ad, eius voluptate illum nesciunt accusantium?
                </p>
            </div>
        </div>
    </div>
  </body>
</html>
