<!DOCTYPE html>
<html>
  <head>
    <title>Blood Donation</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="w-full min-h-screen bg-zinc-100">
      <% include ./partials/navbar.ejs %>
      <!-- TODO: slider part -->
      <div class="w-full relative h-[70vh] flex justify-center pt-1">
        <div class="swiper mySwiper w-[95%] mt-16">
    <div class="swiper-wrapper">
      <div class="swiper-slide rounded-3xl overflow-hidden relative">
        <img class="brightness-[.4]" src="https://images.unsplash.com/photo-1638271522560-a247d127deb8?q=80&w=1915&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-center">
          <h1 class="text-white text-9xl whitespace-nowrap font-mono font-bold">Blood</h1>
          <p class="uppercase text-2xl text-white font-normal tracking-tighter">Blood contains 7-8% of total body weight in body.</p>
        </div>
      </div>
      <div class="swiper-slide rounded-3xl overflow-hidden relative">
        <img class="brightness-[.4]" src="https://images.unsplash.com/photo-1615461066159-fea0960485d5?q=80&w=1916&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <div class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-center">
          <h1 class="text-white text-9xl whitespace-nowrap font-mono font-bold">Donate</h1>
          <p class="uppercase text-2xl text-white font-normal tracking-tighter">Donate blood to other people and make their life happy.</p>
        </div>
      </div>
      <div class="swiper-slide rounded-3xl overflow-hidden relative">
        <img class="brightness-[.4]" src="https://plus.unsplash.com/premium_photo-1681843126728-04eab730febe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        <div class="absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%] text-center">
          <h1 class="text-white text-9xl whitespace-nowrap font-mono font-bold">Join</h1>
          <p class="capitalize text-2xl text-white font-normal tracking-tighter">We Hope you join this epic journey with us.</p>
        </div>
      </div>
    </div>
    <div class="swiper-button-next scale-75 font-bold right-5 text-white"></div>
    <div class="swiper-button-prev scale-75 font-bold left-5 text-white"></div>
    <div class="swiper-pagination"></div>
    <div class="autoplay-progress">
      <svg viewBox="0 0 48 48">
        <circle cx="24" cy="24" r="20"></circle>
      </svg>
      <span></span>
    </div>
  </div>
      </div>
      <div class="w-full min-h-screen px-16">
        <h1 id="heading" class="mt-32  text-6xl font-semibold border-b-4 w-fit border-black pb-2">In this web-site we Connect Blood-Donor & Receiver</h1>
        <div class="w-full h-fit py-10">
          <div class="flex gap-x-52 px-10 items-center">
            <img class="w-[35vw] h-96 object-cover rounded-lg" src="https://images.unsplash.com/photo-1631815590016-ebce183022ce?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="w-[30vw] h-fit flex flex-col items-center gap-y-5">
              <h1 class="text-5xl uppercase w-fit border-b-2 border-black font-mono font-semibold">Blood Test</h1>
              <p class="text-xl text-justify tracking-tight">We conduct also the blood test in your area or home. If you can't want to go out side or do somekind of long process for blood test.You can call us in this Number +910000000000 we assure you that our agent go your place and collect the blood sample for your blood test.</p>
            </div>
          </div>
        </div>
        <div class="w-full h-fit py-10">
          <div class="flex gap-x-52 px-10 items-center">
            <div class="w-[30vw] h-fit flex flex-col items-center gap-y-5">
              <h1 class="text-5xl uppercase w-fit border-b-2 border-black font-mono font-semibold whitespace-nowrap">Blood Donation Camp</h1>
              <p class="text-xl text-justify tracking-tight">We also do blood donation camp in your area, in this camp we provide the best doctors in your place. Who will treat you very carefuly & do some Medical checkup for your better health, or in the camp we also conduct the blood donation event.</p>
            </div>
            <img class="w-[35vw] h-96 object-cover rounded-lg" src="https://images.unsplash.com/photo-1615461066841-6116e61058f4?q=80&w=1883&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </div>
        <div class="w-full h-fit py-10">
          <div class="flex gap-x-52 px-10 items-center">
            <img class="w-[35vw] h-96 object-cover rounded-lg" src="https://images.unsplash.com/photo-1606206522398-de3bd05b1615?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <div class="w-[30vw] h-fit flex flex-col items-center gap-y-5">
              <h1 class="text-5xl uppercase w-fit border-b-2 border-black font-mono font-semibold whitespace-nowrap">Need of Blood</h1>
              <p class="text-xl text-justify tracking-tight">In this web-site if you want blood of any group we can provided to you. if we can't have the stock, what have you requseted us, we can provide the Blood-Donor in your nearest place.</p>
            </div>
          </div>
        </div>
        <div class="w-full h-fit py-10">
          <div class="flex gap-x-52 px-10 items-center">
            <div class="w-[30vw] h-fit flex flex-col items-center gap-y-5">
              <h1 class="text-5xl uppercase w-fit border-b-2 border-black font-mono font-semibold whitespace-nowrap">Blood-donor</h1>
              <p class="text-xl text-justify tracking-tight">If you want to join with us as a Blood-Donor, we can provide money as per litter of blood. And we provide a weekly Medical checkup for Blood-Donor. In this duration of Blood-Donor feild, if you had some Medical problem, we can provided the amount <i><b><u>₹50lakh</u></b></i> of Mediclaim.</p>
            </div>
            <img class="w-[35vw] h-96 object-cover rounded-lg" src="https://images.unsplash.com/photo-1536856136534-bb679c52a9aa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </div>
      </div>
      <div class="bg-zinc-400 w-full h-[1px]"></div>
      <div class="w-full py-10 px-5 h-fit mt-5">
        <div class="w-full h-[40vh] relative">
          <img class="w-52 h-52 absolute -translate-x-[50%] -translate-y-[50%] top-[70%] left-[6%] object-cover rounded-full" src="https://images.unsplash.com/photo-1715775491904-ef5cdae40f0f?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <img class="w-40 h-40 absolute -translate-x-[50%] -translate-y-[50%] top-[40%] left-[27%] object-cover rounded-full" src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <img class="w-48 h-48 absolute -translate-x-[50%] -translate-y-[50%] top-[90%] left-[50%] object-cover rounded-full" src="https://images.unsplash.com/photo-1579684385127-1ef15d508118?q=80&w=1780&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <img class="w-52 h-52 absolute -translate-x-[50%] -translate-y-[50%] top-[20%] left-[72%] object-cover rounded-full" src="https://images.unsplash.com/photo-1517120026326-d87759a7b63b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <img class="w-32 h-32 absolute -translate-x-[50%] -translate-y-[50%] top-[60%] left-[92%] object-cover rounded-full" src="https://images.unsplash.com/photo-1578496781985-452d4a934d50?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
        </div>
        <h1 class="mt-20 text-9xl font-mono flex items-center justify-center gap-x-20 font-semibold">So Which was you <span class="text-red-600 text-[15vw] font-sans font-thin">?</span></h1>
        <div class="w-full h-fit flex justify-center gap-x-20 mt-20 items-center">
          <a href="">
          <div id="donar" class="relative w-96 h-52">
            <img class="h-full w-full absolute object-cover object-[center_70%] rounded-xl brightness-[60%]" src="https://images.unsplash.com/photo-1542884841-9f546e727bca?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          <span class="absolute inline-block h-full w-full flex items-center justify-center pl-6 text-white text-2xl uppercase font-semibold">Donar</span>
          </div>
          </a>
          <span class="text-4xl font-mono font-thin">OR</span>
          <a href="">
          <div id="reciver" class="relative w-96 h-52">
            <img class="w-full h-full absolute object-cover object-[center_70%] rounded-xl brightness-[70%]" src="https://images.unsplash.com/photo-1625869736621-784a42674da4?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            <span class="absolute text-white text-2xl uppercase font-semibold inline-block h-full w-full flex items-center justify-center pl-6">Receiver</span>
          </div>
          </a>
        </div>
      </div>
      <div class="bg-zinc-400 w-full h-[1px] mb-5"></div>
      <div class="w-full h-fit py-5 bg-zinc-800 text-white">
        <div class="w-full h-fit flex justify-center items-center text-4xl pb-2 gap-x-10 text-zinc-400">
          <a href=""><i class="ri-facebook-circle-line hover:text-zinc-100 hover:drop-shadow-[0px_0px_10px_white]"></i></a>
          <a href=""><i class="ri-linkedin-box-fill hover:text-zinc-100 hover:drop-shadow-[0px_0px_10px_white]"></i></a>
          <a href=""><i class="ri-github-fill hover:text-zinc-100 hover:drop-shadow-[0px_0px_10px_white]"></i></a>
          <a href=""><i class="ri-instagram-line hover:text-zinc-100 hover:drop-shadow-[0px_0px_10px_white]"></i></a>
        </div>
        <h1 class="text-center"> CopyRight &copy; by Sc-Designs</h1>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
