<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link rel="shortcut icon" href="/images/1539992783.webp" type="image/x-icon">
    <title>Register</title>
</head>
<body>
    <div class="w-full h-screen relative overflow-hidden bg-zinc-200">
        <div class="rounded-full w-80 h-80 circle absolute top-20"></div>
        <div class="rounded-full w-96 h-96 circle absolute top-10 left-[95%] -translate-y-[50%] -translate-x-[50%] z-10"></div>
        <div id="bar" class="h-screen w-80 bg-black absolute left-40"></div>
        <div class="rounded-full w-40 h-40 circle absolute top-16 right-80"></div>
        <div id="circle" class="rounded-full w-20 h-20 absolute top-48 right-28"></div>
        <div id="curcle" class="rounded-full w-80 h-80 absolute -right-28 bottom-10"></div>
        <div id="big-curcle" class="rounded-full w-[70vw] h-[70vw] absolute left-[50%] -translate-x-[50%] -translate-y-[50%] top-[125%] z-20"></div>
        <div id="curcle" class="rounded-full w-80 h-80 absolute -translate-x-[50%] left-[65%] bottom-28"></div>
        <div class="absolute w-full h-screen top-0 left-0 z-50 flex justify-center items-center flex-col">
            <form action="" class="flex flex-col gap-y-5 px-10 py-2 w-fit h-fit relative">
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Fullname - </span>
                    <input ut class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="text">
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Email - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="email">
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Phone - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="text">
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Blood gr - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="text">
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Dob - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="date">
                </span>
                <span class="flex items-center gap-x-5 ml-24 radios">
                    <input type="radio" name="gender" class="w-5 h-5 bg-red-500" value="male" id="1">
                    <span class="text-lg font-semibold">Male</span>
                    <input type="radio" name="gender" class="w-5 h-5 bg-red-500" value="female" id="2">
                    <span class="text-lg font-semibold">Female</span>
                    <input type="radio" name="gender" class="w-5 h-5 bg-red-500" value="other" id="3">
                    <span class="text-lg font-semibold">Other</span>
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Password - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="password">
                </span>
                <span class="flex justify-between items-center gap-x-5">
                    <span class="font-semibold text-lg font-mono uppercase">Conform Password - </span>
                    <input class="w-80 h-10 rounded-xl border-[1px] border-black outline-none px-2" type="password">
                </span>
                <input id="button" type="button" value="Sign-in" class="px-24 py-3 w-fit absolute -translate-x-[50%] left-[50%] -bottom-20 text-white rounded-full" >
            </form>
            <span class="absolute bottom-10 text-lg flex gap-x-2">
                <span>if you have an account </span>
                <a href="/users/login" class="underline text-purple-700 hover:font-semibold w-20 text-center">- Login -</a>
            </span>
        </div>
    </div>
</body>
</html>